<div id="about" class="relative bg-white overflow-hidden mt-16">
  <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
              fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
              <polygon points="50,0 100,0 50,100 0,100"></polygon>
          </svg>

          <div class="pt-1"></div>

          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
              <div class="sm:text-center lg:text-left">
                  <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                      About Us
                  </h2>

                  <h3>Bienvenue dans notre Lookbook de Mode</h3>
                  <p class="break-words ..."></p>
                  <p class="break-words ..."></p>

                  <p>
                    Plongez dans l'univers de la mode à travers notre sélection exclusive de tenues soigneusement confectionnées pour chaque occasion. Que vous soyez à la recherche d'une tenue élégante pour une soirée, d'un look décontracté pour une journée en ville, ou d'un ensemble sophistiqué pour le bureau, notre lookbook vous offre une source d'inspiration incontournable.
                  </p>
                  <p class="break-words ..."></p>
                  <p class="break-words ..."></p>

                  <p>Nous espérons que ce lookbook sera pour vous une source d'inspiration et de plaisir. Explorez, expérimentez, et laissez-vous séduire par la mode.</p>
              </div>
          </main>
      </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://cdn.pixabay.com/photo/2016/03/23/04/01/woman-1274056_960_720.jpg" alt="">
  </div>
</div>
